.foto-size {
    width: 300px;
    max-height: 600px;
}
.container {
    background-color: rgb(46,179,152);
    color: white;
}

@media screen and (max-width: 899px) {
    .profile {
        padding-left: 12px;
    }
    .photo, .profile {
        margin-top: 10px;
    }
}

@media screen and (min-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding-left: 40px;
        padding-right: 40px;
    }
    .profile {
        grid-column: 2;
        grid-row: 1;
        padding-left: 20px;
    }
    .photo, .profile {
        padding-top: 20px;
    }
}

.photo {
    display: flex;
    justify-content: center;
}

.profile h1, .info {
    font-family: 'Kreon', serif;
}
.info {
    margin-bottom: 10px;
}
.card, .work-card {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    float: left;
    transition: all 0.3s ease-in-out;
}
.card {
    width: 200px;
    height: 200px;
    background-color: rgb(211, 209, 205);
}
.work-card {
    width: 300px;
    height: 300px;
    box-shadow: 0 3px #b5cee4, 0 0 16px rgba(174,195,216,.7);
    border-radius: 3px;
}
.card:hover, .work-card:hover {
    background-color: rgb(240, 238, 234);
}
.card-img {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}

.card-img img {
    max-width: 150px;
}

.text-card {
    color: rgb(21, 63, 253);
}
.form-attr {
    font-size: 16px;
    font-weight: 600;
    margin-top: 6px;
    text-align: center;
}
.left {
    float: left;
}
.right {
    float: right;
}
@media screen and (max-width: 649px) {
    .card {
        margin-left: calc((100vw - 220px)/2);
    }
    .work-card {
        margin-left: calc((100vw - 320px)/2);
    }
}
@media screen and (min-width: 650px) and (max-width: 969px) {
    .card {
        margin-left: calc((100vw - 440px)/3);
    }
    .work-card {
        margin-left: calc((100vw - 640px)/3);
    }
}
@media screen and (min-width: 970px) and (max-width: 1289px) {
    .card {
        margin-left: calc((100vw - 660px)/4);
    }
    .work-card {
        margin-left: calc((100vw - 960px)/4);
    }
}
@media screen and (min-width: 1290px){
    .card {
        margin-left: calc((100vw - 880px)/5);
    }
    .work-card {
        margin-left: calc((100vw - 1280px)/5);
    }
}
.skills-h {
    font-family: 'Kreon', serif;
    font-size: 28px;
    text-align: center;
    font-weight: 800;
    margin-top: 10px;
}
.vk {
    height: 64px;
}
.work-card-name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 4px solid #ffd828;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-card-title, .work-card-date {
    font-size: 16px;
    line-height: 22px;
    padding: 10px;
    font-family: monospace;
}
.work-card-title {
    border-bottom: 4px solid #89ff28;
}
.work-card-add img{
    height: 96px;
}
.work-card-add {
    display: flex;
    align-items: center;
    justify-content: center;
}