.header-app {
    display: flex;
    background-color: rgb(50,50,50);
    color: white;
    justify-content: center;
}
.header-ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.header-ul li {
    display: flex;
    position: relative;
    margin-left: 30px;
    padding: 0;
    list-style-type: none;
    height: 100%;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.5s ease-in-out;
}
.header-ul li:hover {
    color: #2EB398;
}
.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}
.active {
    background-color: rgb(194, 193, 201);
}